@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0d0d0d;
    color: #ffffff;
    overflow-x: hidden;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer base {
    :root {
        --background: 0 0% 5%;
        --foreground: 0 0% 100%;
        --card: 0 0% 14%;
        --card-foreground: 0 0% 100%;
        --popover: 0 0% 10%;
        --popover-foreground: 0 0% 100%;
        --primary: 0 0% 90%;
        --primary-foreground: 0 0% 8%;
        --secondary: 0 0% 12%;
        --secondary-foreground: 0 0% 100%;
        --muted: 0 0% 14%;
        --muted-foreground: 0 0% 75%;
        --accent: 0 0% 90%;
        --accent-foreground: 0 0% 8%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 24%;
        --input: 0 0% 24%;
        --ring: 0 0% 90%;
        --chart-1: 0 0% 90%;
        --chart-2: 0 0% 70%;
        --chart-3: 0 0% 55%;
        --chart-4: 0 0% 45%;
        --chart-5: 0 0% 35%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #4a4a4a #121212;
    }

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: #111;
    }

    *::-webkit-scrollbar-thumb {
        background: #3a3a3a;
        border-radius: 999px;
    }
}

@layer base {
    [data-debug-wrapper="true"] {
        display: contents !important;
    }

    [data-debug-wrapper="true"] > * {
        margin-left: inherit;
        margin-right: inherit;
        margin-top: inherit;
        margin-bottom: inherit;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: inherit;
        padding-bottom: inherit;
        column-gap: inherit;
        row-gap: inherit;
        gap: inherit;
        border-left-width: inherit;
        border-right-width: inherit;
        border-top-width: inherit;
        border-bottom-width: inherit;
        border-left-style: inherit;
        border-right-style: inherit;
        border-top-style: inherit;
        border-bottom-style: inherit;
        border-left-color: inherit;
        border-right-color: inherit;
        border-top-color: inherit;
        border-bottom-color: inherit;
    }
}
